* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.background {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background .img1 {
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 10;
  width: 300px;
  height: 300px;
  filter: blur(3px);
  transform: rotate(10deg);
}
.background .img2 {
  position: absolute;
  top: -40px;
  right: 100px;
  z-index: 10;
  width: 150px;
  height: 150px;
  filter: blur(6px);
  transform: rotate(10deg);
}
.background .img3 {
  position: absolute;
  bottom: -40px;
  left: 100px;
  z-index: 10;
  width: 150px;
  height: 150px;
  filter: blur(6px);
  transform: rotate(10deg);
}
.background .img4 {
  position: absolute;
  bottom: 150px;
  left: -100px;
  z-index: 10;
  width: 240px;
  height: 240px;
  filter: blur(1px);
}
.background .img5 {
  position: absolute;
  bottom: 0px;
  left: -60px;
  z-index: 10;
  width: 140px;
  height: 140px;
  filter: blur(3px);
}

.container {
  z-index: 20;
  max-width: 600px;
  width: 80%;
}
.container .form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .form h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #72A603;
}
.container .form .form-input-container {
  margin: 24px;
  max-width: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .form #cuisineLocal {
  width: 100%;
  height: 45px;
  margin: 8px 16px;
  padding: 0px 16px;
  outline: none;
  border: none;
  border-radius: 4px;
  color: #FFF;
  background: #C0D904;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
.container .form #cuisineLocal::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #FFF;
}
.container .form #search {
  width: 100%;
  height: 45px;
  background-color: #72A603;
  border-radius: 4px;
  transition: 0.4s;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s;
}
.container .form #search .fa-magnifying-glass {
  color: #FFF;
  font-size: 1rem;
  margin-right: 16px;
}
.container .form #search:hover {
  background-color: #C0D904;
  color: #274001;
}
.container .form #search:hover .fa-magnifying-glass {
  color: #274001;
}
.container .hide {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container .hide #recipe-name {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  color: #72A603;
  text-align: center;
  margin-bottom: 8px;
}
.container .hide img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  margin-bottom: 24px;
}

/*# sourceMappingURL=style.css.map */
